http {
    daemon off;

    access_log /tmp/comsol_access.log;
    error_log /tmp/comsol_error.log;

    {% for s in sessions %}
    
    server {
        listen {{ s.port }};

        if ($cookie_RSESSIONID != "{{ s.rsessionid }}") {
            return 401;
        }

        location / {
            proxy_pass https://comsol.radiasoft.org;
            proxy_set_header Cookie "CSSESSIONID={{ s.cssessionid }}; JSESSIONID={{ s.jsessionid }}; ${cookies}";
        }

        location /ui-ws {
            proxy_http_version 1.1;
            proxy_pass https://comsol.radiasoft.org;
            proxy_set_header Connection "upgrade";
            proxy_set_header Cookie "CSSESSIONID={{ s.cssessionid }}; JSESSIONID={{ s.jsessionid }}; ${cookies}";
            proxy_set_header Upgrade $http_upgrade;
        }

    }
    {% endfor %}
}
