daemon off;
pid {{ state_path }}/nginx_comsol.pid;

events {
    worker_connections 768;
}

http {
    error_log {{ state_path }}/comsol_nginx.error.log;
    access_log {{ state_path }}/comsol_nginx.access.log;

    server {
        listen 80 default;

        location / {
            return 301 {{ jupyterhub_base_url }};
        }
    }

    {% for s in sessions %}
    log_format activity_{{ s.port }} '{{ s.rsessionid }} $time_iso8601'; 

    server {
        listen {{ s.port }};

        access_log {{ state_path }}/nginx_activity.{{ s.port }}.log activity_{{ s.port }};

        if ($cookie_RSESSIONID != "{{ s.rsessionid }}") {
            return 301 {{ jupyterhub_base_url }};
        }

        location /comsol-logout {
            return 301 {{ jupyterhub_base_url }}/services/comsol/logout;
        }

        location / {
            proxy_http_version 1.1;
            proxy_pass https://comsol.radiasoft.org;
            proxy_set_header Cookie "CSSESSIONID={{ s.cssessionid }}; JSESSIONID={{ s.jsessionid }}; ${http_cookie}";
            proxy_set_header Connection $http_connection;
            proxy_set_header Upgrade $http_upgrade;
        }
    }
    {% endfor %}
}
